body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body > #__next,
body > #__next > div,
body > #__next > div > #root,
body > #__next > div > #root > main {
  height: 100%;
  width: 100%;
}
